body{
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}
#ttext{
    margin-left: 25px;
}
#pic{
    margin-left: 8px;
}
#header{
    background-color: rgba(240, 128, 128, 0.705);
    padding: 20px;
    border-style: solid;
}
.top{
    position: absolute;
    top: 0px;
    text-align: center;
}
.bottom{
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.memeDiv{
    align-items: center;
    display:flex;
    position: relative;
    margin-top:25px;
    width:500px;
    height:500px;
    background-size: cover;
    background-position: center;
    color:white;
    text-shadow:4px 4px 0 #000,
            -4px -4px 0 #000,
            4px -4px 0 #000,
            -4px 4px 0 #000,
            0px 4px 0 #000,
            4px 0px 0 #000,
            0px -4px 0 #000,
            -4px 0px 0 #000;
    font-size: 50px;

}
button{
    position: absolute;
    bottom: -23px;
}